@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,500;1,400;1,800&display=swap');

:root{
    --color-blue1: #023FD8;
    --color-blue2: #678CE8;
    --color-yelow: #EBA11D;
    --color-white: #FFFFFF;
    --color-grey: #BBBBBB;  
    --color-lightgray: #E4E4E4;
    --color-declined: #ff7782;
    --color-approved: #41f1b6;
    --color-dark: #363949;

    --card-border-radius: 2rem;
    --borde-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1rem;
    --padding-1: 1rem;

    --box-shadow: 0px 8px 8px rgba(0, 0, 0.25, 0.25);

}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    
}

html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: #F1F1F1;
    user-select: none;
    overflow-x: hidden;
}

a{
    color: var(--color-dark);
}


h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-grey);
}

p {
    color: var(--color-dark);
}

b {
    color: black;
}

.approved {
    color: var(--color-approved);
}

.declined {
    color: var(--color-declined);
}

/*  CONTAINER */
.container {
    display: grid;
    width: 100%;
    margin: 0;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;

}

/* ASIDE */
aside {
    height: 100vh; /*ASIDE HEIGHT SIZE*/
    background: var(--color-blue1);
}

/* TOP */
aside .top {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
    color: var(--color-white);
    position: relative;
    gap: 1rem;
}

/* LOGO */
aside .logo {
    display: flex;
    gap: 1rem;
    margin-left: 0.5rem;
}

/* LOGO ICON */
aside .logo i {
    font-size: 2rem;
    margin-top: 1rem;
}

/* CHANGING LOGO FONT COLOR*/
aside .logo .h1 {
    color: black;
    line-height: 1.5rem;
}

/*==========================================================*/

/* SIBEBAR */
aside .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

/* FONT THICKNESS FOR THE SIDEBAR*/
aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-white);
    align-items: center;
    height: 4rem;
    gap: 1rem;
}

aside .sidebar a:last-child {
    margin-top: 140%;
}


 aside .sidebar a:hover {
    background: var(--color-white);
    color: var(--color-blue1);
    width: 100%;
    padding-left: 3rem;
    transition: all 300ms ease;
 }



/* ICON SIZE*/
aside .sidebar a i {
    font-size: 1.6rem;
}


/*==============================================================================*/

/* TOP MENU */
main .top-menu {
    background: var(--color-blue2);
    height: 10%;
    width: 100vw;
    margin-left: -1.8rem;
    display: flex;
    align-items: center;
}

main .logo-ccc img {
    width: 3.5rem;
    height: 3.5rem;
}

main .logo-ccc {
    display: flex;
    margin-left: 1rem;
}

main .profile {
    display: flex;
    position: absolute;
    right: 2rem;
    text-align: center;
}

main .picture img {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin-left: 1rem;
}

main .info {
    margin-top: 0.5rem;
}

main .ccc-text {
    margin-left: 0.5rem;
    margin-top: 0.3rem;
}

main .menu {
    font-size: 2.5rem;
    margin-left: 1rem;
}

/*====================================================*/

/*MAIN BODY TITLE*/
main .main-body .titlee {
    background: var(--color-blue1);
    color: white;
    margin: 1rem;
    width: 30vw;
    height: 15vh;
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    
    
}

main .main-body .titlee .text{
    position: absolute;
    margin-left: 3rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
}

main .titlee h1,h3 {
    font-weight: 500;
}

/*ACCOUNT SETTINGS*/
main .account {
    display: flex;
}

/*SIDE-ACCOUNT*/
main .main-body .side-acc {
    background: var(#F1F1F1);
    width: 15vw;
    height: 60vh;
    border-radius: 2rem;
    padding-top: 5rem;
    padding-left: 4rem;
    line-height: 3.5rem;
    margin-left: 1rem;
    box-shadow: var(--box-shadow);
}

main .main-body .side-acc a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main .main-body .side-acc i {
    color: var(--color-blue1);
}

main .main-body .side-acc a:hover {
    color: black;
    font-size: 1.5rem;
}


/*MAIN - ACCOUNT*/
main .main-body .main-acc {
    background: var(#F1F1F1);
    width: 40vw;
    height: 60vh;
    border-radius: 2rem;
    padding: 3rem;
    line-height: 2.5rem;
    margin-left: 1rem;
    box-shadow: var(--box-shadow);
}

main .main-acc .name {
    display: flex;
    gap: 4rem;
    line-height: 1.5rem;
    margin-top: 2rem;
}

main .main-acc .acc-prof {
    display: flex;
    gap: 4rem;
    line-height: 1.5rem;
    margin-top: 2.5rem;
}

main .main-acc input {
    border-radius: 0.5rem;
    height: 4vh;
    padding: 1rem;
}

/*PROFILE PICTURE*/
main .main-acc .profile-pic {
    display: flex;
    gap: 1rem;
}

main .main-acc .img-box {
    background: white;
    width: 5vw;
    height: 10vh;
    border-radius: 1rem;
}

main .main-acc .img-box i {
    padding: 1rem;
    font-size: 2.5rem;
}

main .main-acc .upload {
    padding: 0.5rem;
}

main .main-acc button {
    background: var(--color-blue1);
    color: white;
    width: 5vw;
    height: 4vh;
    border-radius: 1rem;
    font-size: 0.8rem;
    box-shadow: var(--box-shadow);
}

main .main-acc button:hover {
    background: var(--color-blue2);
    font-size: smaller;
}



